$color-background: #fff;
$color-box: #f6f8fa;
$color-border: #e1e4e8;
$color-menu: #24292e;
$color-link: #586069;
$color-blue: #2E96FF;
$color-red: #FF532E;
$color-pink: #FF2E53;
$color-green: #14D86E;