@import 'colors';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background: #fff;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.wrap {
    padding: 1rem;
}

header {

    background: $color-4;
    padding: 20px;

    h1 {
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
    }
}

.page-desc {
    text-align: center;
    margin-bottom: 2px;
    border-bottom: 4px solid #333;
    h2 {
        color: $color-4;
        font-size: 1.25rem;
        padding: 20px 0 10px 0;
    }

    p {
        color: $color-5;
        font-size: .875rem;
        padding: 10px 0 20px 0;
    }
}

.forms {
    border-top: 2px solid $color-4;
}

.contact-info {
    border-bottom: 2px solid $color-4;
    padding-bottom: 20px;
}

fieldset {
    border: 0;

    p {
        padding: 20px 0;
        color: $color-5;
    }

    legend {
        color: $color-4;
        font-size: 1.25rem;
        padding: 40px 0 20px 0;
        font-weight: 700;
    }
    
    label {
        font-size: .875rem;
        color: $color-5;
    }
}

.flex-item {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea,
select {
    font-size: .875rem;
    color: $color-3;
    background-color: $color-2;
    padding: 15px 15px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid $color-3;
    outline: none;
    -webkit-transition: ease-in 0.5s;
    transition: ease-in 0.5s;

    &:focus {
        border-color: $color-5;
        color: $color-5;
        background: #fff;

        &::placeholder {
            color: $color-5;
        }
    }

    &::placeholder {
        text-align: right;
        font-style: italic;
        padding-right: 2px;
        color: #d3d3d3;
    }

}

textarea {
    resize: none;  
}

input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"] + label,
select {
    cursor: pointer;
    color: #AAAFB4;
}

input[type="tel"] {
    &::placeholder {
        text-align: left;
        font-style: normal;
        padding: 0;
    }
}

input[type="submit"] {
    color: #fff;
    background-color: $color-6;
    border-color: rgba($color: $color-6, $alpha: .8);

    &:focus {
        border-color: darken( $color-6, 30%);
        background-color: darken($color-6, 15%);
        color: #fff;
    }
}

input[name="zip-code"] {
    align-self: flex-start;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 5px;

}

.noclass {
    input:checked + label {
        color: $color-5;
    }
}

footer {
    p {
        text-align: center;
        font-size: .875rem;
        color: #b1b1b1;
        font-style: italic;
        margin: 20px;
    }
}

.flex-textarea {
    display: flex;
    flex-direction: column;
    label {
        margin: 20px 0;
    }
    textarea{
        flex-grow: 1;
    }

}


@media (min-width: 768px) {

    body {
        background: $color-2;
    }

    .container {
        width: 60%;
    }

    .wrap {
        background: $color-1;
        border: 1px solid $color-3;
        border-top: none;
    }

    .page-desc p {
        color: #586069;
        font-size: .875rem;
        padding: 0px 0 40px 0;
    }
    

    .flex-item {
        flex-direction: row;

        label {
            align-self: center;
            flex-basis: 30%;
        }

        input,
        select {
            flex-grow: 1;
        }
    }

    input[name="zip-code"] {
        flex-grow: 0;
    }

    .flex-textarea {
        flex-direction: column;
    }
}